# All optional. Defaults work keyless as of 13 Sep 2026.
# FAIRFILL_DB=/absolute/path/to/fairfill.db
# SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=...
# JUPITER_BASE_URL=https://api.jup.ag
# JUPITER_API_KEY=
# HYPERLIQUID_URL=https://api.hyperliquid.xyz/info
